<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="employee" class="info.spring.Employee">
		<property name="eno" value="5566"></property>
		<property name="name" value="ajay"></property>
		<property name="salary" value="145.2"></property>
		<property name="product" ref="product"></property>
		
	</bean>
	<bean id="product" class="info.spring.Product">
		<property name="name" value="dell"></property>
		<property name="price" value="1225.0"></property>
	</bean>
</beans>
